

#login-form button{
  
  height: 30px;
  width: 80px;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 3px;
  cursor: pointer;
  
}
#login-form button:hover {
    color:white;
    background-color: black;
    
  }

#login-form input::placeholder{
    
    text-shadow: -1px 0 #000,
                 0 1px #000,
                1px 0 #000,
                0 -1px #000;
    color: white;
    
}

#login-form input {
  background-color: white;
}