
ul{
    list-style-type: none;
    list-style-position: inside;
    text-align: center;
    }
 
li {
    
    margin: 10px;

}    

li span {
    margin-right: 12px;
    
}

#todo-form{
    margin-top: 50px;
    margin-bottom: 28px;
}
#todo-form input {
    background-color: white;
}
#todo-form input::placeholder {
    text-shadow: -1px 0 black,
                 0 1px  black,
                1px 0 black,
                0 -1px black;
    color: white;
    
    font-family: Arial, Helvetica, sans-serif;
  }





.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:#5264AE; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%; 
  }
  
  
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  }
  



#todo-list button {
    border: 1px solid white; 
    background-color: black; 
    color: white; 
    padding: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;   

}


#todo-list button:hover:after {
    content:"  Yes!";
    
  }
  
  #todo-list button:hover {
    color:black;
    background-color: white;
    
  }

